.ph-button {
  padding: 20px 32px;
  text-align: center;
  font-family: Gotham, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  border: none;
  font-size: 14px;
}

.ph-button--primary {
  background-color: #181818;
  color: #FFFFFF;
}

.ph-button--primary:hover {
  background-color: #2D2D2D;
}

.ph-button-primary:disabled{
  background-color: #D8D8D8;
  color: #4D4D4D;
}

.ph-button--secondary {
  color: #181818;
  background-color: #EBB349;
}

.ph-button--secondary:hover {
  background-color: #FFC14E;
}

.ph-button--tertiary {
  background-color: white;
  border: 2px solid #181818;
  color: #181818;
}

.ph-button--tertiary:hover {
  border: 2px solid #2D2D2D;
  color: #2D2D2D;
}